<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	
	<h2>Registration :</h2>
	<form action="registration" method="post">
		<label>User name :</label> 
		<input type="text" name="username">
		<br><br>
		
		 <label>E-mail :</label>
		  <input type="email" name="email">
		<br><br>
		
		<label>Password :</label>
		 <input type="password" name="password">
		 		<br><br>
		 
		 <label>Gender :</label>
		 M <input type="radio" name="gender"value="Male"> 
		  F<input type="radio" name="gender" value="Female"> 
		  O<input type="radio" name="gender" value="Others">
			  <br> <br>
			  
		 <label>Role :</label>
		  Admin<input type="radio" name="role" value="Admin">
			Customer<input type="radio" name="role" value="Customer"> 
		<br> <br>
		
		<label>Address :</label>
		<textarea name="address" rows="" cols=""></textarea>
		<br><br>
		<input type ="submit" />
		
	</form>
	

</body>
</html>